
<div style="width: 560px; height: 700px; margin: auto; text-align: center">
    <object width="516" height="315"><param name="movie" value="//www.youtube.com/v/46ySDuTsXpA?autoplay=1&vq=hd720&showinfo=0&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/46ySDuTsXpA?autoplay=1&vq=hd720&showinfo=0&rel=0" type="application/x-shockwave-flash" width="516" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    <p>
       <a href="/pass"> 내가.통과한다. </a>
        
    </p>
    
    <p>
        1. 멋사의 나이
    </p>
    <%= @class_age %><br>
    <%= @class_age_len %><br>
    
    <p>
        2. 1번에 나이 2개 추가 후 나이 낮은 순으로 정렬
    </p>
    
    <%= @class_age_2 %><br>
    <%= @class_age_2_len %><br>
    <p>
        현재 <span id="clock"></span> 입니다.
    </p>
</div>

