
<div style="width: 560px; height: 700px; margin: auto; text-align: center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/46ySDuTsXpA?autoplay=0>" frameborder="0" allowfullscreen></iframe>
    <p>
       <a href="/pass"> 내가.통과한다. </a>
        
    </p>
    
    <p>
        1. 멋사의 나이
    </p>
    <%= @class_age %><br>
    
    <p>
        2. 1번에 나이 2개 추가 후 나이 낮은 순으로 정렬
    </p>
    
    <%= @class_age_2 %>
    
    <p>
        현재 <%= @time %>입니다.
    </p>
</div>

